In [27]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify
from sqlalchemy import create_engine

from flask import Response,json

from flask import Flask, jsonify

#from flask_cors import CORS, cross_origin

from flask import Flask, render_template

#################################################
# Database Setup
#################################################
# engine = create_engine("postgres://ucicakrprsnpky:0c02ab311d9965df2f4c471d98f6251dd952fb1263e3962e33a9f4c4ae7fbc78@ec2-54-158-222-248.compute-1.amazonaws.com:5432/dfkdt10l1i8e55")

engine = create_engine("postgres://dijotinjkotssd:db7fb60a896f20e945fe8d81cfa2b4d07537011ed1ffec0d02b3d9407bd982a6@ec2-3-214-3-162.compute-1.amazonaws.com:5432/decuhc9k7edl3j")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table

results = engine.execute("select * from breweries").fetchall()

In [28]:
import pandas as pd
df = pd.DataFrame(results)

In [29]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,...,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Midwest,Indiana,IN,Midwest,East North Central
1,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,...,2018-08-24 15:45:44,United States,-121.28095359999999,44.0912109,Not Available,Oregon,Oregon,OR,West,Pacific
2,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,...,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho,Idaho,ID,West,Mountain
3,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,...,2018-08-24 00:05:11,United States,-104.9853655,39.7592508,Not Available,Colorado,Colorado,CO,West,Mountain
4,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,...,2018-08-24 15:45:43,United States,-122.68550559999998,45.5259786,Not Available,Oregon,Oregon,OR,West,Pacific

In [30]:
columns = engine.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'breweries'").fetchall()

In [31]:
new_columns = []
for i in columns:
    new_columns.append(i[0])

In [32]:
new_columns

['obdb_id',
 'name',
 'brewery_type',
 'street',
 'address_2',
 'address_3',
 'city',
 'state',
 'county_province',
 'postal_code',
 'website_url',
 'phone',
 'created_at',
 'updated_at',
 'country',
 'longitude',
 'latitude',
 'tags',
 'region_delete',
 'state2',
 'state_code',
 'region',
 'division']

In [33]:
df.columns = new_columns

In [34]:
df

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,...,updated_at,country,longitude,latitude,tags,region_delete,state2,state_code,region,division
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,...,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Midwest,Indiana,IN,Midwest,East North Central
1,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,...,2018-08-24 15:45:44,United States,-121.28095359999999,44.0912109,Not Available,Oregon,Oregon,OR,West,Pacific
2,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,...,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho,Idaho,ID,West,Mountain
3,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,...,2018-08-24 00:05:11,United States,-104.9853655,39.7592508,Not Available,Colorado,Colorado,CO,West,Mountain
4,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,...,2018-08-24 15:45:43,United States,-122.68550559999998,45.5259786,Not Available,Oregon,Oregon,OR,West,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,zorn-brew-works-michigan-city,Zorn Brew Works,micro,605 E 9th St,Not Available,Not Available,Michigan City,Indiana,Not Available,46360-3651,...,2018-08-24 00:33:42,United States,-86.89216786,41.714577,Not Available,Midwest,Indiana,IN,Midwest,East North Central
4932,zuni-street-brewing-company-denver,Zuni Street Brewing Company,micro,2355 W 29th Ave,Not Available,Not Available,Denver,Colorado,Not Available,80211-3753,...,2018-08-24 00:25:18,United States,-105.015409,39.758592900000004,Not Available,Colorado,Colorado,CO,West,Mountain
4933,zwanzigz-brewing-columbus,ZwanzigZ Brewing,brewpub,1038 Lafayette Ave,Not Available,Not Available,Columbus,Indiana,Not Available,47201-5756,...,2018-08-24 00:33:42,United States,-85.91883647,39.20865674,Not Available,Midwest,Indiana,IN,Midwest,East North Central
4934,zydeco-brew-werks-tampa,Zydeco Brew Werks,brewpub,1902 E 7th Ave,Not Available,Not Available,Tampa,Florida,Not Available,33605-3810,...,2018-08-24 00:28:55,United States,-82.43783229,27.960343800000004,Not Available,Florida,Florida,FL,South,South Atlantic
4935,zymurgy-brew-works-torrance,Zymurgy Brew Works,micro,22755 Hawthorne Blvd,Not Available,Not Available,Torrance,California,Not Available,90505-3613,...,2018-08-24 00:05:10,United States,-118.3524672,33.8635371,Not Available,California,California,CA,West,Pacific

In [35]:
df = df.dropna(how='any')
df

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,...,updated_at,country,longitude,latitude,tags,region_delete,state2,state_code,region,division
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,...,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Midwest,Indiana,IN,Midwest,East North Central
1,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,...,2018-08-24 15:45:44,United States,-121.28095359999999,44.0912109,Not Available,Oregon,Oregon,OR,West,Pacific
2,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,...,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho,Idaho,ID,West,Mountain
3,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,...,2018-08-24 00:05:11,United States,-104.9853655,39.7592508,Not Available,Colorado,Colorado,CO,West,Mountain
4,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,...,2018-08-24 15:45:43,United States,-122.68550559999998,45.5259786,Not Available,Oregon,Oregon,OR,West,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,zorn-brew-works-michigan-city,Zorn Brew Works,micro,605 E 9th St,Not Available,Not Available,Michigan City,Indiana,Not Available,46360-3651,...,2018-08-24 00:33:42,United States,-86.89216786,41.714577,Not Available,Midwest,Indiana,IN,Midwest,East North Central
4932,zuni-street-brewing-company-denver,Zuni Street Brewing Company,micro,2355 W 29th Ave,Not Available,Not Available,Denver,Colorado,Not Available,80211-3753,...,2018-08-24 00:25:18,United States,-105.015409,39.758592900000004,Not Available,Colorado,Colorado,CO,West,Mountain
4933,zwanzigz-brewing-columbus,ZwanzigZ Brewing,brewpub,1038 Lafayette Ave,Not Available,Not Available,Columbus,Indiana,Not Available,47201-5756,...,2018-08-24 00:33:42,United States,-85.91883647,39.20865674,Not Available,Midwest,Indiana,IN,Midwest,East North Central
4934,zydeco-brew-werks-tampa,Zydeco Brew Werks,brewpub,1902 E 7th Ave,Not Available,Not Available,Tampa,Florida,Not Available,33605-3810,...,2018-08-24 00:28:55,United States,-82.43783229,27.960343800000004,Not Available,Florida,Florida,FL,South,South Atlantic
4935,zymurgy-brew-works-torrance,Zymurgy Brew Works,micro,22755 Hawthorne Blvd,Not Available,Not Available,Torrance,California,Not Available,90505-3613,...,2018-08-24 00:05:10,United States,-118.3524672,33.8635371,Not Available,California,California,CA,West,Pacific

# list the region into dictionary

In [36]:
index_list = df.region.unique().tolist()
print(index_list)

['Midwest', 'West', 'Northeast', 'South']

In [37]:
def Convert(index_list):
    res_dct = {index_list[i]: index_list[i + 1] for i in range(0, len(index_list), 2)}
    return res_dct

In [38]:
print(Convert(index_list))

{'Midwest': 'West', 'Northeast': 'South'}

# list the total number of each brewery type for each region

In [42]:
df1 = df.groupby(['region', 'brewery_type']).agg({'brewery_type':'count'})
df1

                        brewery_type
region    brewery_type
Midwest   brewpub                561
          closed                   8
          contract                28
          large                    9
          micro                  637
          nano                     1
          proprietor               9
          regional                39
Northeast brewpub                277
          contract                24
          large                    4
          micro                  422
          proprietor              10
          regional                36
South     brewpub                301
          closed                   2
          contract                25
          large                   15
          micro                  707
          planning                13
          proprietor               8
          regional                31
West      bar                      1
          brewpub                613
          closed                  21
          contract                41
          large                   24
          micro                  914
          planning                87
          proprietor              16
          regional                51

In [43]:
data_dict = df1.to_dict()
data_dict

{'brewery_type': {('Midwest', 'brewpub'): 561,
  ('Midwest', 'closed'): 8,
  ('Midwest', 'contract'): 28,
  ('Midwest', 'large'): 9,
  ('Midwest', 'micro'): 637,
  ('Midwest', 'nano'): 1,
  ('Midwest', 'proprietor'): 9,
  ('Midwest', 'regional'): 39,
  ('Northeast', 'brewpub'): 277,
  ('Northeast', 'contract'): 24,
  ('Northeast', 'large'): 4,
  ('Northeast', 'micro'): 422,
  ('Northeast', 'proprietor'): 10,
  ('Northeast', 'regional'): 36,
  ('South', 'brewpub'): 301,
  ('South', 'closed'): 2,
  ('South', 'contract'): 25,
  ('South', 'large'): 15,
  ('South', 'micro'): 707,
  ('South', 'planning'): 13,
  ('South', 'proprietor'): 8,
  ('South', 'regional'): 31,
  ('West', 'bar'): 1,
  ('West', 'brewpub'): 613,
  ('West', 'closed'): 21,
  ('West', 'contract'): 41,
  ('West', 'large'): 24,
  ('West', 'micro'): 914,
  ('West', 'planning'): 87,
  ('West', 'proprietor'): 16,
  ('West', 'regional'): 51}}

# list the total number of brewery in each state for each region

In [46]:
df2 = df.groupby(['region', 'state']).agg({'brewery_type':'count'})
df2

                                brewery_type
region    state
Midwest   Illinois                       153
          Indiana                         87
          Iowa                            71
          Kansas                          31
          Michigan                       270
          Minnesota                      124
          Missouri                       130
          Nebraska                        31
          North Dakota                     9
          Ohio                           217
          South Dakota                    11
          Wisconsin                      158
Northeast Connecticut                     45
          Maine                           66
          Massachusetts                  100
          New Hampshire                   42
          New Jersey                      58
          New York                       228
          Pennsylvania                   192
          Rhode Island                    14
          Vermont                         28
South     Alabama                         37
          Arkansas                        32
          Delaware                        15
          District of Columbia            11
          Florida                        166
          Georgia                         52
          Kentucky                        48
          Louisiana                       25
          Maryland                        48
          Mississippi                     12
          North Carolina                 185
          Oklahoma                        41
          South Carolina                  38
          Tennessee                       70
          Texas                          169
          Virginia                       134
          West Virginia                   19
West      Alaska                          51
          Arizona                         76
          California                     630
          Colorado                       252
          Hawaii                          23
          Idaho                           57
          Montana                         56
          Nevada                          28
          New Mexico                      52
          Oregon                         209
          Utah                            19
          Washington                     294
          Wyoming                         21

In [ ]:
df["region"].value_counts().to_dict()