In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("breweries.csv")

In [3]:
df.head()

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,NaN,NaN,Knox,Indiana,NaN,46534,NaN,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,NaN
1,10-barrel-brewing-co-bend,10 Barrel Brewing Co,large,62970 18th St,NaN,NaN,Bend,Oregon,NaN,97701-9847,http://www.10barrel.com,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
2,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,NaN,NaN,Bend,Oregon,NaN,97703-2465,NaN,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,NaN,NaN,Bend,Oregon,NaN,97701,NaN,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,NaN
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,NaN,NaN,Boise,Idaho,NaN,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,NaN

In [4]:
df.isnull().sum()

obdb_id               0
name                  0
brewery_type          0
street              822
address_2          7852
address_3          7860
city                  0
state                72
county_province    7789
postal_code           0
website_url        1192
phone               800
created_at            0
updated_at            0
country               0
longitude          2855
latitude           2855
tags               7862
dtype: int64

In [5]:
df.shape

(7862, 18)

In [6]:
df = df[df['longitude'].notna()]

In [7]:
df.shape

(5007, 18)

In [8]:
df = df[df["country"]== "United States"]

In [9]:
df.shape

(4936, 18)

In [10]:
df = df.fillna("Not Available")

In [11]:
df.shape

(4936, 18)

In [12]:
df.head()

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,Not Available,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,Not Available,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,Not Available
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available
5,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,Not Available,7205738992,2018-07-24 01:33:03,2018-08-24 00:05:11,United States,-104.985366,39.759251,Not Available
6,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,http://www.10barrel.com,5032241700,2018-07-24 01:34:04,2018-08-24 15:45:43,United States,-122.685506,45.525979,Not Available

In [13]:
df["region"] = df["state"]

In [14]:
df.head()

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags,region
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,Not Available,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Indiana
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,Not Available,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,Not Available,Oregon
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho
5,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,Not Available,7205738992,2018-07-24 01:33:03,2018-08-24 00:05:11,United States,-104.985366,39.759251,Not Available,Colorado
6,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,http://www.10barrel.com,5032241700,2018-07-24 01:34:04,2018-08-24 15:45:43,United States,-122.685506,45.525979,Not Available,Oregon

In [15]:
df["region"].str.replace("Indiana","Midwest")

0          Midwest
3           Oregon
4            Idaho
5         Colorado
6           Oregon
           ...
7855       Midwest
7857      Colorado
7858       Midwest
7860       Florida
7861    California
Name: region, Length: 4936, dtype: object

In [16]:
df["region"] = df["region"].str.replace("Indiana","Midwest")

In [18]:
df.head()

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags,region
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,Not Available,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Midwest
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,Not Available,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,Not Available,Oregon
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho
5,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,Not Available,7205738992,2018-07-24 01:33:03,2018-08-24 00:05:11,United States,-104.985366,39.759251,Not Available,Colorado
6,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,http://www.10barrel.com,5032241700,2018-07-24 01:34:04,2018-08-24 15:45:43,United States,-122.685506,45.525979,Not Available,Oregon

In [19]:
regions = pd.read_csv("regions.csv")

In [20]:
regions.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [21]:
regions["state"] = regions["State"]

In [22]:
regions.head()

        State State Code Region            Division       state
0      Alaska         AK   West             Pacific      Alaska
1     Alabama         AL  South  East South Central     Alabama
2    Arkansas         AR  South  West South Central    Arkansas
3     Arizona         AZ   West            Mountain     Arizona
4  California         CA   West             Pacific  California

In [23]:
final_data = pd.merge(df, regions, how="left", on=["state"])

In [24]:
final_data.head()

,obdb_id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,...,updated_at,country,longitude,latitude,tags,region,State,State Code,Region,Division
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,Not Available,Not Available,Knox,Indiana,Not Available,46534,...,2018-08-24 00:32:25,United States,-86.627954,41.289715,Not Available,Midwest,Indiana,IN,Midwest,East North Central
1,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,Not Available,Not Available,Bend,Oregon,Not Available,97701,...,2018-08-24 15:45:44,United States,-121.280954,44.091211,Not Available,Oregon,Oregon,OR,West,Pacific
2,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,Not Available,Not Available,Boise,Idaho,Not Available,83702-5857,...,2020-10-11 17:00:13,United States,-116.202929,43.618516,Not Available,Idaho,Idaho,ID,West,Mountain
3,10-barrel-brewing-co-denver-denver,10 Barrel Brewing Co - Denver,large,2620 Walnut St,Not Available,Not Available,Denver,Colorado,Not Available,80205-2231,...,2018-08-24 00:05:11,United States,-104.985366,39.759251,Not Available,Colorado,Colorado,CO,West,Mountain
4,10-barrel-brewing-co-portland,10 Barrel Brewing Co,large,1411 NW Flanders St,Not Available,Not Available,Portland,Oregon,Not Available,97209-2620,...,2018-08-24 15:45:43,United States,-122.685506,45.525979,Not Available,Oregon,Oregon,OR,West,Pacific

In [25]:
final_data.to_csv("breweries_clean.csv",index = False)

In [26]:
final_data.columns

Index(['obdb_id', 'name', 'brewery_type', 'street', 'address_2', 'address_3',
       'city', 'state', 'county_province', 'postal_code', 'website_url',
       'phone', 'created_at', 'updated_at', 'country', 'longitude', 'latitude',
       'tags', 'region', 'State', 'State Code', 'Region', 'Division'],
      dtype='object')

In [27]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify
from sqlalchemy import create_engine

from flask import Response,json

from flask import Flask, jsonify
from flask import Flask, render_template

#################################################
# Database Setup
#################################################

engine = create_engine("postgres://dijotinjkotssd:db7fb60a896f20e945fe8d81cfa2b4d07537011ed1ffec0d02b3d9407bd982a6@ec2-3-214-3-162.compute-1.amazonaws.com:5432/decuhc9k7edl3j")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table

results = engine.execute("select * from breweries").fetchall()

In [28]:
results[0]

('10-56-brewing-company-knox', '10-56 Brewing Company', 'micro', '400 Brown Cir', 'Not Available', 'Not Available', 'Knox', 'Indiana', 'Not Available', '46534', 'Not Available', '6308165790', '2018-07-24 01:33:21', '2018-08-24 00:32:25', 'United States', '-86.627954', '41.289715', 'Not Available', 'Midwest', 'Indiana', 'IN', 'Midwest', 'East North Central')

In [32]:
breweries = []
for i in results:
    breweries.append({'Coordinates':[i[16], i[15]],
                      'Name': i[1],
                      'Type': i[2],
                      'Address': {
                          'Street': i[3],
                          'City': i[6],
                          'State': i[7],
                          'Post Code': i[9]
                      },
                      'Phone:': i[11],
                      'Url:': i[10],
                      'Country': i[14],
                      'Region:': i[21],
                      'Division': i[22]
                      })

In [33]:
breweries[1]

{'Coordinates': ['44.0912109', '-121.28095359999999'],
 'Name': '10 Barrel Brewing Co - Bend Pub',
 'Type': 'large',
 'Address': {'Street': '62950 NE 18th St',
  'City': 'Bend',
  'State': 'Oregon',
  'Post Code': '97701'},
 'Phone:': '5415851007',
 'Url:': 'Not Available',
 'Country': 'United States',
 'Region:': 'West',
 'Division': 'Pacific'}

In [ ]:
var locations = [
  {
    coordinates: [40.7128, -74.0059],
    state: {
      name: "New York State",
      population: 19795791
    },
    city: {
      name: "New York",
      population: 8550405
    }
  },
  {
    coordinates: [34.0522, -118.2437],
    state: {
      name: "California",
      population: 39250017
    },
    city: {
      name: "Lost Angeles",
      population: 3971883
    }
  },
  {
    coordinates: [41.8781, -87.6298],
    state: {
      name: "Illinois",
      population: 12671821
    },
    city: {
      name: "Chicago",
      population: 2695598
    }
  },
  {
    coordinates: [29.7604, -95.3698],
    state: {
      name: "Texas",
      population: 26960000
    },
    city: {
      name: "Houston",
      population: 2296224
    }
  },
  {
    coordinates: [41.2524, -95.9980],
    state: {
      name: "Nebraska",
      population: 1882000
    },
    city: {
      name: "Omaha",
      population: 446599
    }
  }
];